<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <title>MiniMart</title>
    <!-- Link To CSS -->
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <!-- Box Icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
    <style>
      div.cart-content{
        
        width: 325px;
        height: 700px;
        overflow-y: scroll;
      }
</style>
  </head>
  <body>
    <!-- Header -->
    <header>
      <!-- nav -->
      <div class="nav container">
        <a href="#" class="logo">FoodManda</a>
        <!-- Cart-Icon -->
        <ul>
          <li class="nav-item active">
          <!-- <i class="bx bx-shopping-bag" id="cart-icon"></i> -->
            <a href="#" class="menu">สวัสดีคุณ <%= username %><a>
            <a href="/checkout" class="menu">ตะกร้าสินค้า<a></a>
            <a href="#" class="menu">ออเดอร์สินค้า<a></a>
          <a href="/logout" class="menu">Logout</a>
          </li>

        </ul>

      </div>
      <div class="cart">
        <h2 class="cart-title">Your Cart</h2>
        <div class="cart-content">
      </div>
      
      <!-- Total -->
      <div class="total">
          <div class="total-title">Total</div>
          <div class="total-price">$0</div>
      </div>
      <!-- Buy Button -->
      <button type%="button" class="btn-buy">Buy Now</button>
      <!-- Cart CLose -->
      <i class='bx bx-x' id="close-cart"></i>                       
      </div> 
    </header>

    <section class="shop container">
      <h2 class="section-title">เมนูอาหาร</h2>
      <!-- Content -->

      <div class="shop-content">
 
        <% for(var i = 0; i < product.length; i++) { %>
        <div class="product-box">
          <img src="<%=  product[i].img %>" alt="" class="product-img">
          <h2 class="product-title"><%=  product[i].name %></h2>
          ราคา <span class="price"><%=  product[i].price %> บาท</span>
            <br>
            หมวดหมู่ : <span class="categories"><%=  product[i].categories %></span>
         <!-- <i class='bx bx-shopping-bag add-cart'></i> -->
         
         
         <form action="/add-to-cart/<%= product[i].name%>" method="get">
          
          <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
        </div>
        <% } %>


  </section>
  </body>
  <script src="/js/main.js"></script>
</html>
