<style>
    img {
      border: 1px solid #ddd; /* Gray border */
      border-radius: 4px;  /* Rounded border */
      padding: 0px; /* Some padding */
      width: 45px; /* Set a small width */
    }
    
    /* Add a hover effect (blue shadow) */
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
    </style>
<% for(var i = 0; i < product.length; i++) { %>
    <tr>
        <td><%= i + 1 %></td>
        <td><img src="<%= product[i].img %>" class="img" alt=""/></td>
        <td><%= product[i].name %></td>
        <td><%= product[i].price %> บาท</td>
        <td><%= product[i].categories %></td>
        <input type="hidden" name="id" value="<%= product[i]._id %>">
        <td>
            <a href="/update-product?id=<%= product[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>

            <a href="/delete-product/<%= product[i]._id%>" class="btn border-shadow delete " data-id=<%= product[i]._id%>  >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>
    