<% var total = 0 %>
<% order.forEach (function (product) { %>
    <% for(var i = 0; i < product.orderlist.length; i++) { %>
    <% total += +product.price[i] %>
    <tr>

        <td><%= i + 1 %></td>
        <td><%= product.orderlist[i] %></td>
        <td><%= product.qty[i] %></td> 
        <td><%= product.price[i] %></td>   
    </tr>
    <% } %> 
    <input type="submit" value="Confirm Order" class="btn btn-success" />
  <% });%>
  <tr align="center">
    <td></td>
    <td></td>
    <td></td>
    <td><b>รวม: </b>฿<%= total %></td>    
</tr>


