<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<% for(var i = 0; i < order.length; i++) { %>
    <% if (order[i].isAdmin != true ) { %>
    <tr>

        
        <td><%= i + 1 %></td>
        <td><%= order[i].username %></td>
        <td><%= order[i].total %> Baht</td>
        <% if (order[i].status === 'Success' ) { %>
        <td><p class="text-success"><i class="fa fa-check-square" aria-hidden="true"></i><b> Success</b></p></td>
        <% } %>
        <% if (order[i].status === 'pending' ) { %>
            <td><p class="text-warning"><i class="fa fa-clock-o" aria-hidden="true"></i><b> Pending</b></p></td>
        <% } %>
        <td><a href="/viewOrder?id=<%= order[i]._id%>" style="font-size:18px"></i>view</a></td>
        <input type="hidden" name="id" value="<%= order[i]._id %>">
        
    </tr>
    <% } %>
    <% } %>